controllers:
  qui:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/autobrr/qui
          tag: v1.8.0@sha256:db12a589dcd09ad66302edbbadcc80dc3f12ee9e46bcc63dbdcaa7c7a0bee9c4
        env:
          QUI__HOST: 0.0.0.0
          QUI__PORT: &port 80
          QUI__LOG_LEVEL: INFO
          TZ: America/New_York
        envFrom:
          - secretRef:
              name: qui-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        port: *port
persistence:
  config:
    existingClaim: qui
