controllers:
  nat:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: gitea.omv.a113.casa/vpogu/tripnibble
          tag: main
        env:
          TZ: America/New_York
          OAUTH_AUTHENTIK_DOMAIN: "id.${CLUSTER_DOMAIN}"
          CHAINLIT_URL: "https://tripnibble.${CLUSTER_DOMAIN}"
        envFrom:
        - secretRef:
            name: tripnibble-secret
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 2Gi
    pod:
      imagePullSecrets:
      - name: gitea-registry-secret
  chainlit:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: gitea.omv.a113.casa/vpogu/tripnibble
          tag: main
        command:
        - chainlit
        - run
        - /app/chainlit-ui/app.py
        - --host
        - "0.0.0.0"
        - --port
        - "7001"
        env:
          TZ: America/New_York
          NAT_API_URL: http://tripnibble-nat.ai.svc.cluster.local:8000
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 1Gi
    pod:
      imagePullSecrets:
      - name: gitea-registry-secret
service:
  nat:
    controller: nat
    ports:
      http:
        port: 8000
  chainlit:
    controller: chainlit
    ports:
      http:
        port: 7001
