---
controllers:
  app:
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.0.0@sha256:12df386a1609aada0f9c19bdcb8a59db7e2c08b5a91757f7115cce8c3d502568
        envFrom: &envFrom
          - secretRef:
              name: donetick-secret
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      donetick:
        image:
          repository: donetick/donetick
          tag: v0.1.64
        env:
          TZ: America/New_York
        envFrom: *envFrom
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/ping
                port: &port 2021
              initialDelaySeconds: 10
              periodSeconds: 60
              timeoutSeconds: 10
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 50m
            memory: 512Mi
          limits:
            memory: 1Gi

service:
  app:
    controller: app
    ports:
      http:
        port: *port

persistence:
  config:
    type: configMap
    name: donetick-config
    globalMounts:
      - path: "/config/selfhosted.yaml"
        subPath: selfhosted.yaml
        readOnly: true
