---
controllers:
  app:
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom: &envFrom
          - secretRef:
              name: donetick-secret
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      donetick:
        image:
          repository: donetick/donetick
          tag: v0.1.64
        env:
          TZ: America/New_York
        envFrom: *envFrom
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/ping
                port: &port 2021
              initialDelaySeconds: 10
              periodSeconds: 60
              timeoutSeconds: 10
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 50m
            memory: 512Mi
          limits:
            memory: 1Gi

service:
  app:
    controller: app
    ports:
      http:
        port: *port

persistence:
  config:
    type: configMap
    name: donetick-config
    globalMounts:
      - path: "/config/selfhosted.yaml"
        subPath: selfhosted.yaml
        readOnly: true
