---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage

helmCharts:
  - name: openebs
    releaseName: openebs
    namespace: storage
    repo: https://openebs.github.io/openebs
    version: 4.4.0
    valuesFile: values.yaml
