localpv-provisioner:
  localpv:
    image:
      registry: quay.io/
  analytics:
    enabled: false

openebs-crds:
  csi:
    volumeSnapshots:
      enabled: false

engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false

mayastor:
  enabled: false
  etcd:
    replicaCount: 2
  csi:
    node:
      initContainers:
        enabled: false
  loki-stack:
    enabled: false
  obs:
    callhome:
      enabled: false

preUpgradeHook:
  image:
    repo: openebs/kubectl
