localpv-provisioner:
  analytics:
    enabled: false

openebs-crds:
  csi:
    volumeSnapshots:
      enabled: false

engines:
  # Enabled engine by default: https://github.com/openebs/dynamic-localpv-provisioner
  # Disable the following engines:
  # lvm: https://github.com/openebs/lvm-localpv
  # zfs: https://github.com/openebs/zfs-localpv
  # mayastor: https://github.com/openebs/mayastor
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
