loki:
  enabled: false
minio:
  enabled: false
alloy:
  enabled: false
engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false
openebs-crds:
  csi:
    volumeSnapshots:
      enabled: true
localpv-provisioner:
  localpv:
    image:
      registry: quay.io/
  hostpathClass:
    enabled: true
    name: openebs-hostpath
    isDefaultClass: false
    basePath: /var/openebs/local
