---
controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom: &envFrom
          - secretRef:
              name: atuin-secret
    containers:
      app:
        image:
          repository: ghcr.io/atuinsh/atuin
          tag: v18.10.0@sha256:4a29feda6f352581ece849807445fe1f50f2074b4643b7bfe62b27e23705b068
        env:
          ATUIN_HOST: 0.0.0.0
          ATUIN_PORT: &port 80
          ATUIN_OPEN_REGISTRATION: "true"
          ATUIN_METRICS__ENABLE: "true"
          ATUIN_METRICS__HOST: 0.0.0.0
          ATUIN_METRICS__PORT: &metricsPort 8080
          ATUIN_TLS__ENABLE: "false"
        envFrom: *envFrom
        args: ["server", "start"]
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        port: *port
      metrics:
        port: *metricsPort
serviceMonitor:
  app:
    serviceName: app
    enabled: true
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s
persistence:
  config:
    enabled: true
    type: emptyDir
