---
controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
        envFrom: &envFrom
          - secretRef:
              name: atuin-secret
    containers:
      app:
        image:
          repository: ghcr.io/atuinsh/atuin
          tag: v18.12.0@sha256:e953fa9e36ef571d3cb2f9746426129025b8101ad4b88cd0da6783d524cca431
        env:
          ATUIN_HOST: 0.0.0.0
          ATUIN_PORT: &port 80
          ATUIN_OPEN_REGISTRATION: "true"
          ATUIN_METRICS__ENABLE: "true"
          ATUIN_METRICS__HOST: 0.0.0.0
          ATUIN_METRICS__PORT: &metricsPort 8080
          ATUIN_TLS__ENABLE: "false"
        envFrom: *envFrom
        args: ["start"]
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 256Mi
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
service:
  app:
    ports:
      http:
        port: *port
      metrics:
        port: *metricsPort
serviceMonitor:
  app:
    serviceName: app
    enabled: true
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s
persistence:
  config:
    enabled: true
    type: emptyDir
