---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-runner-config
data:
  config.yaml: |
    log:
      level: info

    runner:
      file: /data/.runner
      capacity: 1
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s
      envs:
        DOCKER_HOST: tcp://host.docker.internal:2375
      labels:
        - "ubuntu-latest:docker://docker.gitea.com/runner-images:ubuntu-latest"
        - "ubuntu-22.04:docker://docker.gitea.com/runner-images:ubuntu-22.04"
        - "ubuntu-24.04:docker://docker.gitea.com/runner-images:ubuntu-24.04"

    cache:
      enabled: true
      dir: /data/cache

    container:
      network: ""
      privileged: false
      docker_host: tcp://localhost:2375
      force_pull: false
      options: --add-host=host.docker.internal:host-gateway
      valid_volumes:
        - '**'
