---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-runner-config
data:
  config.yaml: |
    log:
      level: info

    runner:
      file: /data/.runner
      capacity: 1
      timeout: 3h
      insecure: false
      fetch_timeout: 5s
      fetch_interval: 2s
      labels:
        - "kubernetes:kubernetes"
        - "ubuntu-latest:kubernetes"

    cache:
      enabled: false

    container:
      backend: kubernetes
      kubernetes:
        namespace: default
        container_spec:
          securityContext:
            runAsNonRoot: false
        volumes: []
        pull_policy: IfNotPresent
