---
controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      runner:
        image:
          repository: gitea/act_runner
          tag: nightly
        command:
          - sh
          - -c
          - |
            while ! test -f /certs/client/ca.pem; do
              echo 'waiting for docker certs...'
              sleep 5
            done
            while ! nc -z localhost 2376 </dev/null; do
              echo 'waiting for docker daemon...'
              sleep 5
            done
            /sbin/tini -- run.sh
        env:
          DOCKER_HOST: tcp://localhost:2376
          DOCKER_CERT_PATH: /certs/client
          DOCKER_TLS_VERIFY: "1"
          GITEA_INSTANCE_URL: "https://gitea.${CLUSTER_DOMAIN}"
          GITEA_RUNNER_LABELS: "ubuntu-latest:docker://node:20-bookworm,ubuntu-22.04:docker://node:20-bookworm"
          CONFIG_FILE: /config/config.yaml
        envFrom:
          - secretRef:
              name: gitea-runner-secret
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 2Gi
      daemon:
        image:
          repository: docker
          tag: 27-dind
        env:
          DOCKER_TLS_CERTDIR: /certs
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            memory: 4Gi

persistence:
  docker-certs:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /certs
  config:
    enabled: true
    type: configMap
    name: gitea-runner-config
    globalMounts:
      - path: /config
        readOnly: true
  data:
    enabled: true
    existingClaim: gitea-runner
    globalMounts:
      - path: /data
