---
controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    serviceAccount:
      identifier: gitea-runner
    containers:
      app:
        image:
          repository: gitea/act_runner
          tag: 0.2.11
        env:
          GITEA_INSTANCE_URL: "https://gitea.${CLUSTER_DOMAIN}"
          GITEA_RUNNER_NAME: "k8s-runner"
          GITEA_RUNNER_LABELS: "kubernetes:docker://node:20-bookworm,ubuntu-latest:docker://node:20-bookworm,ubuntu-22.04:docker://node:20-bookworm"
          CONFIG_FILE: /config/config.yaml
        envFrom:
          - secretRef:
              name: gitea-runner-secret
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 512Mi
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

serviceAccount:
  gitea-runner: {}

persistence:
  config:
    enabled: true
    type: configMap
    name: gitea-runner-config
    globalMounts:
      - path: /config
        readOnly: true
  data:
    enabled: true
    existingClaim: gitea-runner
    globalMounts:
      - path: /data
