---
controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      runner:
        image:
          repository: gitea/act_runner
          tag: nightly
        command:
          - sh
          - -c
          - "while ! nc -z localhost 2376 </dev/null; do echo 'waiting for docker daemon...'; sleep 5; done; /sbin/tini -- run.sh"
        env:
          DOCKER_HOST: tcp://localhost:2376
          DOCKER_CERT_PATH: /certs/client
          DOCKER_TLS_VERIFY: "1"
          GITEA_INSTANCE_URL: "https://gitea.${CLUSTER_DOMAIN}"
          GITEA_RUNNER_REGISTRATION_TOKEN:
            valueFrom:
              secretKeyRef:
                name: gitea-runner-secret
                key: GITEA_RUNNER_REGISTRATION_TOKEN
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 512Mi
      daemon:
        image:
          repository: docker
          tag: 27-dind
        env:
          DOCKER_TLS_CERTDIR: /certs
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 2Gi

persistence:
  docker-certs:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /certs
  data:
    enabled: true
    existingClaim: gitea-runner
    globalMounts:
      - path: /data
