---
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"
controllers:
  backend:
    strategy: RollingUpdate
    annotations:
      secret.reloader.stakater.com/reload: piped-secret, piped-db-creds
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
        envFrom: &envFrom
          - secretRef:
              name: piped-db-creds
    containers:
      app:
        image:
          repository: 1337kavin/piped
          tag: latest@sha256:9ad2ed9ff568c40bfa50ea4bf07957f7bc2ae0768ce1f494f9fa99598f8c368b
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 500Mi
          limits:
            memory: 2000Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
  frontend:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/bjw-s-labs/piped-frontend
          tag: 2025.3.17@sha256:8ed05c7df0bc8899e54a3952a99b63d55cdc7669d759beeb9370fbb32330468b
        env:
          BACKEND_HOSTNAME: papi.${CLUSTER_DOMAIN}
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          # readOnlyRootFilesystem: true
  ytproxy:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: 1337kavin/piped-proxy
          tag: latest@sha256:0109757343044d519c309309c9a377bfafa4e080469cac80c788dc89c5b28063
        command:
          - /app/piped-proxy
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 500Mi
          limits:
            memory: 2000Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

service:
  backend:
    controller: backend
    ports:
      http:
        port: &port 8080
  frontend:
    controller: frontend
    ports:
      http:
        port: 8080
  ytproxy:
    controller: ytproxy
    ports:
      http:
        port: 8080

persistence:
  config:
    type: secret
    name: piped-secret
    advancedMounts:
      backend:
        app:
          - path: /app/config.properties
            subPath: config.properties
            readOnly: true
