---
defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: "OnRootMismatch"
controllers:
  backend:
    strategy: RollingUpdate
    annotations:
      secret.reloader.stakater.com/reload: piped-secret, piped-db-creds
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom: &envFrom
          - secretRef:
              name: piped-db-creds
    containers:
      app:
        image:
          repository: 1337kavin/piped
          tag: latest@sha256:1f38b992ce02a50afddbbf68be1ac11cff6953d36fd8fa2b98c08a19f8ef06e7
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 500Mi
          limits:
            memory: 2000Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
  frontend:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/bjw-s-labs/piped-frontend
          tag: 2025.3.17@sha256:8ed05c7df0bc8899e54a3952a99b63d55cdc7669d759beeb9370fbb32330468b
        env:
          BACKEND_HOSTNAME: papi.${CLUSTER_DOMAIN}
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          # readOnlyRootFilesystem: true
  ytproxy:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: 1337kavin/piped-proxy
          tag: latest@sha256:199711bc95858588f2cbb504debe2aa7dee0fd8084d10d347b51a3fc4dbdf4e5
        command:
          - /app/piped-proxy
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 10m
            memory: 500Mi
          limits:
            memory: 2000Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

service:
  backend:
    controller: backend
    ports:
      http:
        port: &port 8080
  frontend:
    controller: frontend
    ports:
      http:
        port: 8080
  ytproxy:
    controller: ytproxy
    ports:
      http:
        port: 8080

persistence:
  config:
    type: secret
    name: piped-secret
    advancedMounts:
      backend:
        app:
          - path: /app/config.properties
            subPath: config.properties
            readOnly: true
