---
cluster:
  enabled: false

standalone:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      memory: 4Gi
  persistence:
    enabled: true
    size: 10Gi

etcd:
  enabled: true
  replicaCount: 1
  persistence:
    enabled: true
    size: 5Gi

minio:
  enabled: true
  mode: standalone
  persistence:
    enabled: true
    size: 10Gi

pulsarv3:
  enabled: false
