---
defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    supplementalGroups:
      - 65536
controllers:
  sabnzbd:
    annotations:
      configmap.reloader.stakater.com/reload: sabnzbd-scripts
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sabnzbd
          tag: 4.5.5@sha256:485440a3e9209a3515c01e1c73d6088726491a292302a721d4cb9e7c6375c768
        env:
          TZ: America/New_York
          SABNZBD__PORT: &port 80
          SABNZBD__HOST_WHITELIST_ENTRIES: >-
            sabnzbd,
            sabnzbd.downloads,
            sabnzbd.downloads.svc,
            sabnzbd.downloads.svc.cluster,
            sabnzbd.downloads.svc.cluster.local,
            sabnzbd.${CLUSTER_DOMAIN}
        envFrom:
          - secretRef:
              name: sabnzbd-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api?mode=version
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 100m
            memory: 250Mi
          limits:
            memory: 5000Mi
service:
  app:
    ports:
      http:
        port: *port

persistence:
  config:
    enabled: true
    existingClaim: sabnzbd
  tmp:
    type: emptyDir
  media:
    type: nfs
    server: omv-baymx.a113.internal
    path: "/storage0/media"
    globalMounts:
      - path: /nfs-nas-pvc
