---
image:
  flavor: fpm-alpine
nginx:
  enabled: true
nextcloud:
  extraInitContainers:
    - name: init-db
      image: ghcr.io/home-operations/postgres-init:18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
      envFrom:
        - secretRef:
            name: nextcloud-secret
  datadir: /var/www/data
  extraEnv:
    - name: REDIS_HOST
      value: valkey.default.svc.cluster.local.
    - name: REDIS_HOST_PORT
      value: "6379"
  existingSecret:
    enabled: true
    secretName: nextcloud-secret
  host: &host nextcloud.${CLUSTER_DOMAIN}
  mail:
    enabled: false
  configs:
    proxy.config.php: |-
      <?php
      $CONFIG = array (
        'trusted_proxies' => array(
          0 => '127.0.0.1',
          1 => '10.69.0.0/16',
        ),
        'forwarded_for_headers' => array('HTTP_X_FORWARDED_FOR'),
      ); ?>
    misc.config.php: |-
      <?php
      $CONFIG = array (
        'default_phone_region' => 'OH',
        'maintenance_window_start' => 2,
      ); ?>
internalDatabase:
  enabled: false
externalDatabase:
  enabled: true
  type: postgresql
  host: postgres17-rw.default.svc.cluster.local.
  database: nextcloud
  existingSecret:
    enabled: true
    secretName: nextcloud-secret
    usernameKey: INIT_POSTGRES_USER
    passwordKey: INIT_POSTGRES_PASS
ingress:
  enabled: false
persistence:
  enabled: true
  existingClaim: nextcloud
# this seems to be required for nextcloud initialization which takes a long time
startupProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 30
  successThreshold: 1
