---
controllers:
  app:
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/bigthundersr/onstar2mqtt
          tag: 2.4.0@sha256:a6e1e3f187c4490b46a6fb6a4d9c6916efbe25a4c14b5f2c5dbeaffba02e8ae8
        envFrom:
          - secretRef:
              name: onstar2mqtt
        env:
          TZ: "America/New_York"
          MQTT_HOST: "mosquitto.default.svc.cluster.local"
          MQTT_REJECT_UNAUTHORIZED: "false"
          MQTT_USERNAME: "dummy"
          MQTT_PASSWORD: "dummy"
          TOKEN_LOCATION: "/data"
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 500Mi
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
service:
  app:
    ports:
      http:
        port: 8056

persistence:
  config:
    enabled: true
    existingClaim: onstar2mqtt
    globalMounts:
      - path: "/data"
