---
controllers:
  app:
    containers:
      app:
        image:
          repository: ghcr.io/advplyr/audiobookshelf
          tag: 2.32.1
        env:
          TZ: "America/New_York"
          PORT: &port 80
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthcheck
                port: *port
          readiness: *probes
        resources:
          requests:
            cpu: 100m
            memory: 250Mi
          limits:
            memory: 750Mi
service:
  app:
    ports:
      http:
        port: *port

persistence:
  config:
    enabled: true
    globalMounts:
      - path: /config
    existingClaim: audiobookshelf
  media:
    type: nfs
    server: synology.a113.internal
    path: "/volume1/media/audiobookshelf"
    globalMounts:
      - path: /audiobooks
