---
defaultPodOptions:
  enableServiceLinks: false

controllers:
  qbittorrent:
    annotations:
      configmap.reloader.stakater.com/reload: qbittorrent-scripts,qbittorrent-dnsdist
      secret.reloader.stakater.com/reload: qbittorrent-secret
    pod:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 65542
      terminationGracePeriodSeconds: 120

    initContainers:
      dnsdist:
        image:
          repository: docker.io/powerdns/dnsdist-19
          tag: 1.9.11@sha256:720091e8702abcc863a1ad6fe8667c62f82797f33cd4924a2e49c57d5da5b451
        restartPolicy: Always
      gluetun:
        dependsOn:
          - dnsdist
        image:
          repository: ghcr.io/qdm12/gluetun
          tag: v3.40.1@sha256:dc38bac12b40bb935e477f0dbd88adf174001c84b144c86648b25ff5f14ef54a
        env:
          DOT: "off"
          DNS_ADDRESS: 127.0.0.2
          VPN_SERVICE_PROVIDER: custom
          VPN_TYPE: wireguard
          VPN_INTERFACE: wg0
          WIREGUARD_ENDPOINT_PORT: 51820
          VPN_PORT_FORWARDING: on
          VPN_PORT_FORWARDING_PROVIDER: protonvpn
          FIREWALL_INPUT_PORTS: &port 8080
          FIREWALL_OUTBOUND_SUBNETS: 10.96.0.0/16,10.69.0.0/16
        envFrom:
          - secretRef:
              name: qbittorrent-secret
        resources:
          limits:
            squat.ai/tun: "1"
        restartPolicy: Always
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
          allowPrivilegeEscalation: false
    containers:
      vuetorrent:
        image:
          repository: registry.k8s.io/git-sync/git-sync
          tag: v4.5.0
        args:
          - --repo=https://github.com/VueTorrent/VueTorrent
          - --ref=latest-release
          - --period=86400s
          - --root=/addons
        resources:
          requests:
            cpu: 10m
            memory: 25Mi
          limits:
            memory: 50Mi
      app:
        image:
          repository: ghcr.io/home-operations/qbittorrent
          tag: 5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
        nameOverride: qbittorrent
        env:
          UMASK: "022"
          QBT_WEBUI_PORT: 8080
          QBT_BitTorrent__Session__Interface: wg0
          QBT_BitTorrent__Session__InterfaceAddress: 0.0.0.0
          QBT_BitTorrent__Session__InterfaceName: wg0
          QBT_Preferences__WebUI__AlternativeUIEnabled: true
          QBT_Preferences__WebUI__RootFolder: /addons/VueTorrent
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 150m
            memory: 2048Mi
          limits:
            memory: 10Gi
        securityContext:
          runAsUser: 2000
          runAsGroup: 2000
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
      port-forward:
        image:
          repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
          tag: "1.3"
        env:
          QBITTORRENT_SERVER: localhost
          QBITTORRENT_PORT: *port
          PORT_FORWARDED: "/tmp/gluetun/forwarded_port"

service:
  app:
    ports:
      http:
        port: *port

persistence:
  config:
    enabled: true
    existingClaim: qbittorrent
    advancedMounts:
      qbittorrent:
        app:
          - path: /config
  addons:
    type: emptyDir
    globalMounts:
      - path: /addons
  empty-config:
    type: emptyDir
    advancedMounts:
      qbittorrent:
        port-forward:
          - path: /config
  media:
    type: nfs
    server: omv-baymx.a113.internal
    path: "/storage0/media"
    advancedMounts:
      qbittorrent:
        app:
          - path: /nfs-nas-pvc
  gluetun-data:
    type: emptyDir
    advancedMounts:
      qbittorrent:
        gluetun:
          - path: /tmp/gluetun
        port-forward:
          - path: /tmp/gluetun
            readOnly: true
  dnsdist:
    type: configMap
    name: qbittorrent-dnsdist
    advancedMounts:
      qbittorrent:
        dnsdist:
          - path: /etc/dnsdist/dnsdist.conf
            subPath: dnsdist.conf
            readOnly: true
