---
controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom: &envFrom
          - secretRef:
              name: reactive-resume-secret
    containers:
      chrome:
        image:
          repository: ghcr.io/browserless/chromium
          tag: v2.18.0 # Upgrading to newer versions causes issues
        env:
          TIMEOUT: 10000
          CONCURRENT: 10
          TOKEN: chrome_token
          EXIT_ON_HEALTH_FAILURE: "true"
          PRE_REQUEST_HEALTH_CHECK: "true"
      app:
        image:
          repository: amruthpillai/reactive-resume
          tag: v4.5.5@sha256:f1b27f567b2a1b57fb6b2a81f7b9cec0af577b6be945820c1599a0a8b6b91f8b
        env:
          PORT: &port 8080
          NODE_ENV: production

          # -- URLs --
          PUBLIC_URL: http://localhost:8080

          # -- Printer (Chrome) --
          CHROME_TOKEN: chrome_token
          CHROME_URL: ws://localhost:3000
          STORAGE_ENDPOINT: s3.omv.a113.casa
          STORAGE_PORT: 443
          STORAGE_REGION: garage # Optional
          STORAGE_BUCKET: reactive-resume
          STORAGE_USE_SSL: "true"
          STORAGE_SKIP_BUCKET_CHECK: "false"
          DISABLE_SIGNUPS: "true"
          DISABLE_EMAIL_AUTH: "false"
        envFrom: *envFrom
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 750Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  app:
    ports:
      http:
        port: *port
