apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network

helmCharts:
  - name: gateway-helm
    releaseName: gateway-helm
    namespace: network
    repo: oci://mirror.gcr.io/envoyproxy
    version: v1.6.1
    includeCRDs: true
    valuesInline:
      crds:
        gatewayAPI:
          enabled: true
          channel: experimental   # Available options: standard, experimental
      global:
        imageRegistry: mirror.gcr.io
      config:
        envoyGateway:
          provider:
            type: Kubernetes
            kubernetes:
              deploy:
                type: GatewayNamespace
