controllers:
  app:
    replicas: 1
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.3.0@sha256:6fa1f331cddd2eb0b6afa7b8d3685c864127a81ab01c3d9400bc3ff5263a51cf
        envFrom: &envFrom
        - secretRef:
            name: mo-secret
    containers:
      main:
        image:
          repository: gitea.omv.a113.casa/vpogu/mo-agent
          tag: 2026-03-01-e709815
          pullPolicy: Always
        env:
          TZ: America/New_York
          DIGEST_HOUR: "9"
          DIGEST_MINUTE: "00"
        envFrom: *envFrom
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 2Gi
        probes:
          startup:
            enabled: false
            custom: true
            spec:
              exec:
                command:
                - pgrep
                - -f
                - mo.main
              initialDelaySeconds: 10
              periodSeconds: 5
              failureThreshold: 30
          liveness:
            enabled: false
            custom: true
            spec:
              exec:
                command:
                - pgrep
                - -f
                - mo.main
              periodSeconds: 30
              failureThreshold: 3
    pod:
      imagePullSecrets:
      - name: gitea-registry-secret
persistence:
  kubeconfigs:
    type: secret
    name: mo-kubeconfigs
    globalMounts:
    - path: /etc/kube
      readOnly: true
