---
controllers:
  app:
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
        envFrom: &envFrom
          - secretRef:
              name: planka-secret
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      planka:
        image:
          repository: ghcr.io/plankanban/planka
          tag: 2.0.0-rc.4@sha256:1cb538e1a3476126e582e705b32a55adc940306d4ea09cca52dc4342803c11a7
        env:
          TZ: America/New_York
          BASE_URL: 'https://planka.${CLUSTER_DOMAIN}'
          REACT_APP_SERVER_BASE_URL: 'https://planka.${CLUSTER_DOMAIN}'
          OIDC_IGNORE_ROLES: 'true'
          TRUST_PROXY: '1'
          # OIDC_ENFORCED: 'true'
        envFrom: *envFrom
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: &port 1337
              initialDelaySeconds: 10
              periodSeconds: 60
              timeoutSeconds: 10
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 50m
            memory: 512Mi
          limits:
            memory: 1Gi

service:
  app:
    controller: app
    ports:
      http:
        port: *port

persistence:
  config:
    existingClaim: planka
    advancedMounts:
      app:
        planka:
          - path: /app/public/favicons
            subPath: favicons
          - path: /app/public/user-avatars
            subPath: user-avatars
          - path: /app/public/background-images
            subPath: background-images
          - path: /app/private/attachments
            subPath: attachments
