---
controllers:
  app:
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/kopia
          tag: 0.22.2@sha256:a98ea95290b1f2146c4b48644a6cfe3e7f6413dc2ae84c3bebc54a1137496927
        env:
          KOPIA_WEB_ENABLED: true
          KOPIA_WEB_PORT: &port 80
          TZ: "America/New_York"
        envFrom:
          - secretRef:
              name: kopia-secret
        args:
          - --without-password
          - --disable-csrf-token-checks
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 1Gi
service:
  app:
    ports:
      http:
        port: *port
      metrics:
        enabled: true
        port: 8080

serviceMonitor:
  app:
    enabled: false
    serviceName: app
    endpoints:
      - port: metrics
        scheme: http
        path: /metrics
        interval: 1m
        scrapeTimeout: 10s

persistence:
  config:
    enabled: true
    type: configMap
    name: kopia-repository-configmap
    globalMounts:
      - path: /config/repository.config
        subPath: repository.config
        readOnly: true
  tmpfs:
    type: emptyDir
    globalMounts:
      - path: /config/cache
        subPath: cache
      - path: /config/logs
        subPath: logs
