---
defaultPodOptions:
  enableServiceLinks: false
controllers:
  jellyfin:
    strategy: Recreate
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: jellyfin/jellyfin
          tag: 10.11.5@sha256:6d819e9ab067efcf712993b23455cc100ee5585919bb297ea5a109ac00cb626e
        env:
          DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
          JELLYFIN_FFmpeg__probesize: 50000000
          JELLYFIN_FFmpeg__analyzeduration: 50000000
          TZ: America/New_York
        resources:
          requests:
            cpu: 100m
            memory: 2Gi
          limits:
            memory: 6Gi
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: &port 8096
              initialDelaySeconds: 0
              periodSeconds: 30
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false

service:
  app:
    ports:
      http:
        port: *port

persistence:
  config:
    enabled: true
    existingClaim: jellyfin
    globalMounts:
      - path: /config
  transcode:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /transcode
  media:
    type: hostPath
    hostPath: /srv/dev-disk-by-uuid-9d2e4cb9-8825-4168-8153-e020ee524474/storage0/media
    globalMounts:
      - path: /nfs-nas-pvc
