---
controllers:
  app:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      volume-permissions:
        image:
          repository: dpage/pgadmin4
          tag: "9.10@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70"
        command: ["/bin/chown", "-R", "5050:5050", "/var/lib/pgadmin"]
        securityContext:
          runAsUser: 0
    containers:
      app:
        image:
          repository: dpage/pgadmin4
          tag: "9.10@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70"
        env:
          PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
        envFrom:
          - secretRef:
              name: pgadmin-secret
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            memory: 500Mi
service:
  app:
    ports:
      http:
        port: 80
persistence:
  config:
    enabled: true
    existingClaim: pgadmin
    globalMounts:
      - path: /var/lib/pgadmin
  oauthconfig:
    type: secret
    name: pgadmin-oauth-secret
    globalMounts:
      - path: /pgadmin4/config_local.py
        subPath: config_local.py
