---
controllers:
  app:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      volume-permissions:
        image:
          repository: dpage/pgadmin4
          tag: "9.11@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088"
        command: ["/bin/chown", "-R", "5050:5050", "/var/lib/pgadmin"]
        securityContext:
          runAsUser: 0
    containers:
      app:
        image:
          repository: dpage/pgadmin4
          tag: "9.11@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088"
        env:
          PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
        envFrom:
          - secretRef:
              name: pgadmin-secret
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            memory: 500Mi
service:
  app:
    ports:
      http:
        port: 80
persistence:
  config:
    enabled: true
    existingClaim: pgadmin
    globalMounts:
      - path: /var/lib/pgadmin
  oauthconfig:
    type: secret
    name: pgadmin-oauth-secret
    globalMounts:
      - path: /pgadmin4/config_local.py
        subPath: config_local.py
