---
controllers:
  app:
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
        envFrom: &envFrom
          - secretRef:
              name: home-assistant-secret
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2026.2.3@sha256:d73c9c53a8562e12211f24fd7303c422051220636972485df291dbec885d8a3d
        env:
          TZ: "America/New_York"
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        resources:
          requests:
            cpu: 100m
            memory: 500Mi
          limits:
            memory: 2500Mi
      codeserver:
        image:
          repository: ghcr.io/coder/code-server
          tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
          pullPolicy: IfNotPresent
        env:
          TZ: "America/New_York"
        args:
          - --user-data-dir
          - "/config/.vscode"
          - --auth
          - "none"
          - --port
          - "12321"
          - "/config"

service:
  app:
    ports:
      http:
        port: 8123
  codeserver:
    type: ClusterIP
    ports:
      http:
        enabled: true
        port: 12321
        protocol: TCP
        targetPort: 12321

persistence:
  config:
    enabled: true
    existingClaim: home-assistant
