---
controllers:
  app:
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom: &envFrom
          - secretRef:
              name: home-assistant-secret
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2025.11.2@sha256:ff7eb7c296bb514704804a6d68d67e6858edb4366ee38d1c3089e837230a9172
        env:
          TZ: "America/New_York"
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
        resources:
          requests:
            cpu: 100m
            memory: 500Mi
          limits:
            memory: 2500Mi
      codeserver:
        image:
          repository: ghcr.io/coder/code-server
          tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
          pullPolicy: IfNotPresent
        env:
          TZ: "America/New_York"
        args:
          - --user-data-dir
          - "/config/.vscode"
          - --auth
          - "none"
          - --port
          - "12321"
          - "/config"

service:
  app:
    ports:
      http:
        port: 8123
  codeserver:
    type: ClusterIP
    ports:
      http:
        enabled: true
        port: 12321
        protocol: TCP
        targetPort: 12321

persistence:
  config:
    enabled: true
    existingClaim: home-assistant
