---
controllers:
  actual:
    annotations:
      reloader.stakater.com/auto: "true"

    pod:
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: "OnRootMismatch"

    containers:
      app:
        image:
          repository: ghcr.io/actualbudget/actual-server
          tag: 26.1.0
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 12m
            memory: 128M
          limits:
            memory: 512M

service:
  app:
    ports:
      http:
        port: 5006

persistence:
  data:
    existingClaim: actual
    advancedMounts:
      actual:
        app:
          - path: /data
