---
defaultPodOptions:
  nodeSelector:
    zwave.feature.node.kubernetes.io/device: "true"
controllers:
  zwave:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/zwave-js/zwave-js-ui
          tag: 11.9.1@sha256:a7036e59a9d7916d1f92f2fa1e0b9f4a5ed317fc8bef38756368f7c865e0e95a
        env:
          TZ: America/New_York
          PORT: &port 80
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 10m
service:
  app:
    ports:
      http:
        port: *port
      websocket:
        port: 3000

persistence:
  config:
    enabled: true
    existingClaim: zwave
    globalMounts:
      - path: /usr/src/app/store
  usb:
    enabled: true
    type: hostPath
    hostPath: /dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00
    hostPathType: CharDevice
    globalMounts:
      - path: /dev/ttyUSB0
