---
defaultPodOptions:
  nodeSelector:
    zwave.feature.node.kubernetes.io/device: "true"
controllers:
  zwave:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/zwave-js/zwave-js-ui
          tag: 11.8.1@sha256:de3d4c1ea989a30e709207f05decb3eb60798573112f8d1e8c5171222440d0f6
        env:
          TZ: America/New_York
          PORT: &port 80
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 10m
service:
  app:
    ports:
      http:
        port: *port
      websocket:
        port: 3000

persistence:
  config:
    enabled: true
    existingClaim: zwave
    globalMounts:
      - path: /usr/src/app/store
  usb:
    enabled: true
    type: hostPath
    hostPath: /dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00
    hostPathType: CharDevice
    globalMounts:
      - path: /dev/ttyUSB0
