---
controllers:
  redlib:
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: quay.io/redlib/redlib
          tag: latest@sha256:dffb6c5a22f889d47d8e28e33411db0fb6c5694599f72cf740c912c12f5fc1c6
        env:
          REDLIB_ROBOTS_DISABLE_INDEXING: "on"
          REDLIB_DEFAULT_THEME: "dracula"
          REDLIB_DEFAULT_FRONT_PAGE: "default"
          REDLIB_DEFAULT_LAYOUT: "card"
          REDLIB_DEFAULT_WIDE: "on"
          REDLIB_DEFAULT_POST_SORT: "hot"
          REDLIB_DEFAULT_COMMENT_SORT: "confidence"
          REDLIB_DEFAULT_SHOW_NSFW: "on"
          REDLIB_DEFAULT_AUTOPLAY_VIDEOS: "off"
          REDLIB_DEFAULT_DISABLE_VISIT_REDDIT_CONFIRMATION: "false"
          REDLIB_DEFAULT_SUBSCRIPTIONS: "selfhosted+homelab+LifeProTips+todayilearned+GetMotivated+Fitness"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /settings
                port: &port 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
service:
  app:
    ports:
      http:
        port: *port
