---
controllers:
  app:
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom: &envFrom
          - secretRef:
              name: freshrss-secret
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      freshrss:
        image:
          repository: freshrss/freshrss
          tag: 1.27.1@sha256:9a56be99f3927cc8fab4c6bbd5723ae098824792d4d98a84007a95eb64e8f905
        env:
          TZ: America/New_York
          CRON_MIN: 18,48
          DOMAIN: 'https://rss.${CLUSTER_DOMAIN}/'
          OIDC_ENABLED: 1
          OIDC_X_FORWARDED_HEADERS: X-Forwarded-Host X-Forwarded-Port X-Forwarded-Proto
          OIDC_SCOPES: openid groups email profile
          OIDC_REMOTE_USER_CLAIM: preferred_username
          OIDC_PROVIDER_METADATA_URL: https://id.${CLUSTER_DOMAIN}/application/o/freshrss/.well-known/openid-configuration
        envFrom: *envFrom
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
        resources:
          requests:
            cpu: 50m
            memory: 200Mi
          limits:
            memory: 512Mi
  fivefilters-full-text-rss:
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      fivefilters-full-text-rss:
        image:
          repository: heussd/fivefilters-full-text-rss
          tag: latest@sha256:2606e086dfe331850217429f62cb7085dcd239ff5f8f39e34b21f04afb39545a
          pullPolicy: IfNotPresent
        envFrom: *envFrom

service:
  app:
    controller: app
    ports:
      http:
        port: &port 80
  fivefilters-full-text-rss:
    controller: fivefilters-full-text-rss
    ports:
      http:
        port: 80

persistence:
  config:
    existingClaim: freshrss
    advancedMounts:
      app:
        freshrss:
          - path: /var/www/FreshRSS/data
            subPath: data
            readOnly: false
          - path: /var/www/FreshRSS/extensions
            subPath: extensions
            readOnly: false
  cache:
    existingClaim: freshrss-config-ftr
    advancedMounts:
      fivefilters-full-text-rss:
        fivefilters-full-text-rss:
          - path: /var/www/html/cache/rss
            readOnly: false
