---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: reloader
    releaseName: reloader
    namespace: kube-system
    repo: https://stakater.github.io/stakater-charts
    version: "2.2.8"
    valuesInline:
      nameOverride: reloader
      fullnameOverride: reloader
