---
controllers:
  app:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    containers:
      subcleaner:
        image:
          repository: registry.k8s.io/git-sync/git-sync
          tag: v4.5.1
          pullPolicy: IfNotPresent
        args:
          - --repo=https://github.com/KBlixt/subcleaner.git
          - --branch=master
          - --wait=86400 # 1 day
          - --root=/add-ons/
      app:
        image:
          repository: ghcr.io/home-operations/bazarr
          tag: 1.5.4@sha256:6e2fab9cca3096714795458aec222da5e2e5cde07ed07e439f9879c9de3b5b94
        env:
          TZ: "America/New_York"
        resources:
          requests:
            cpu: 50m
            memory: 250Mi
          limits:
            memory: 4Gi
service:
  app:
    ports:
      http:
        port: 6767

persistence:
  config:
    enabled: true
    existingClaim: bazarr
    globalMounts:
      - path: /config
  media:
    type: nfs
    server: omv-baymx.a113.internal
    path: "/storage0/media"
    globalMounts:
      - path: /nfs-nas-pvc
  add-ons:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /add-ons
  scripts:
    enabled: true
    type: configMap
    name: bazarr-scripts # overriden by kustomizeconfig
    defaultMode: 0775
