---
controllers:
  app:
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16.2946@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344
        env:
          TZ: "America/New_York"
          SONARR__INSTANCE_NAME: Sonarr
          SONARR__PORT: &port 80
          SONARR__LOG_LEVEL: info
        resources:
          requests:
            cpu: 15m
            memory: 381M
          limits:
            memory: 2000Mi
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes

service:
  app:
    ports:
      http:
        port: *port
persistence:
  config:
    enabled: true
    existingClaim: sonarr
  media:
    type: nfs
    server: omv-baymx.a113.internal
    path: "/storage0/media"
    globalMounts:
      - path: /nfs-nas-pvc
