---
controllers:
  nat:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: gitea.omv.a113.casa/vpogu/tripnibble
          tag: 4a54f1187475b95f3ae0aac4b4c7c1d7c3bbd59d
        env:
          TZ: America/New_York
        envFrom:
          - secretRef:
              name: tripnibble-secret
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 2Gi
    pod:
      imagePullSecrets:
        - name: tripnibble-registry-secret

  chainlit:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: gitea.omv.a113.casa/vpogu/tripnibble
          tag: 4a54f1187475b95f3ae0aac4b4c7c1d7c3bbd59d
        command:
          - chainlit
          - run
          - /app/chainlit-ui/app.py
          - --host
          - "0.0.0.0"
          - --port
          - "7001"
        env:
          TZ: America/New_York
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 1Gi
    pod:
      imagePullSecrets:
        - name: tripnibble-registry-secret

service:
  nat:
    controller: nat
    ports:
      http:
        port: 8000
  chainlit:
    controller: chainlit
    ports:
      http:
        port: 7001
