---
controllers:
  valkey:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: valkey/valkey
          tag: 9.0.1-alpine@sha256:1be494495248d53e3558b198a1c704e6b559d5e99fe4c926e14a8ad24d76c6fa
        env:
          VALKEY_PASSWORD_FILE: /secret/valkey-password
          VALKEY_PORT: &port 6379
service:
  app:
    ports:
      http:
        port: *port

persistence:
  data:
    type: emptyDir
  secret:
    type: secret
    name: valkey-secret
    advancedMounts:
      valkey:
        app:
          - path: /secret/valkey-password
            subPath: valkey-password
            readOnly: true
