---
controllers:
  valkey:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: valkey/valkey
          tag: 9.0.3-alpine@sha256:ad09f25978db13ed3ed7c635a0e43118568deca056ed8f7a5020f40632e2923e
        env:
          VALKEY_PASSWORD_FILE: /secret/valkey-password
          VALKEY_PORT: &port 6379
service:
  app:
    ports:
      http:
        port: *port

persistence:
  data:
    type: emptyDir
  secret:
    type: secret
    name: valkey-secret
    advancedMounts:
      valkey:
        app:
          - path: /secret/valkey-password
            subPath: valkey-password
            readOnly: true
