---
controllers:
  app:
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 100
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.0.4.10291@sha256:73fbdba72dcde5fec16264e63a9daba7829b5c2806a75615463a67117b100de3
        env:
          TZ: "America/New_York"
          RADARR__INSTANCE_NAME: Radarr
          RADARR__PORT: &port 80
          RADARR__LOG_LEVEL: info
        resources:
          limits:
            memory: 1500Mi
          requests:
            cpu: 250m
            memory: 350Mi
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
service:
  app:
    ports:
      http:
        port: 80

persistence:
  config:
    enabled: true
    existingClaim: radarr
  media:
    type: nfs
    server: omv-baymx.a113.internal
    path: "/storage0/media"
    globalMounts:
      - path: /nfs-nas-pvc
