---
controllers:
  app:
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/hsakoh/switchbotmqtt-amd64
          tag: 1.0.56
        env:
          TZ: "America/New_York"
        resources:
          requests:
            cpu: 10m
            memory: 250Mi
          limits:
            memory: 500Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
service:
  app:
    ports:
      http:
        port: 8099

persistence:
  data:
    enabled: true
    existingClaim: switchbotmqtt
    globalMounts:
      - path: /data
  options-secret:
    type: secret
    name: switchbotmqtt
    globalMounts:
      - path: /data/options.json
        subPath: options.json
