---
controllers:
  app:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    containers:
      app:
        image:
          repository: nodered/node-red
          tag: 4.1.6
        env:
          TZ: "America/New_York"
          NODE_RED_ENABLE_PROJECTS: "true"
          NODE_RED_ENABLE_SAFE_MODE: "false"
        envFrom:
          - secretRef:
              name: node-red-secret
        resources:
          requests:
            memory: 250Mi
            cpu: 100m
          limits:
            memory: 750Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
service:
  app:
    type: ClusterIP
    ports:
      http:
        port: 1880
persistence:
  config:
    enabled: true
    existingClaim: node-red
    globalMounts:
      - path: "/data"
