---
global:
  deploymentAnnotations:
    secret.reloader.stakater.com/reload: "authentik-secret"
  storageClass: openebs-hostpath
  envFrom:
    - secretRef:
        name: authentik-secret
authentik:
  log_level: info
  avatars: "gravatar,initials"
  email:
    host: "smtp.sendgrid.net"
    port: 587
    username: "apikey"
    from: "Access <access@${CLUSTER_DOMAIN}>"
  error_reporting:
    enable: false
    send_pii: false
  outposts:
    container_image_base: ghcr.io/goauthentik/%(type)s:%(version)s
  redis:
    host: "valkey.default.svc.cluster.local"
server:
  replicas: 1
  initContainers:
    - name: init-db
      image: ghcr.io/home-operations/postgres-init:18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
      imagePullPolicy: IfNotPresent
      envFrom:
        - secretRef:
            name: authentik-secret
  metrics:
    serviceMonitor:
      enabled: true
  ingress:
    enabled: false
geoip:
  enabled: false
  existingSecret:
    secretName: "authentik-secret"
    accountId: "MAXMIND_ACCOUNT_ID"
    licenseKey: "MAXMIND_LICENSE_KEY"
prometheus:
  rules:
    enabled: true
postgresql:
  enabled: false
redis:
  enabled: false
