serviceAccount:
  kite: {}
controllers:
  kite:
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
        envFrom:
          - secretRef:
              name: kite-secret
    pod:
      annotations:
        reloader.stakater.com/auto: "true"
    replicas: 1
    serviceAccount:
      identifier: kite
    containers:
      app:
        image:
          repository: ghcr.io/zxh326/kite
          tag: v0.7.4
        envFrom:
          - secretRef:
              name: kite-secret
        env:
          HOST: https://kite.${CLUSTER_DOMAIN}
          KUBECONFIG: /config/kubeconfig
          ENABLE_ANALYTICS: true
          DEBUG: true

        # probes:
          # livenessProbe:
          #   httpGet:
          #     path: /healthz
          #     port: http
          #   initialDelaySeconds: 10
          #   periodSeconds: 10
          # readinessProbe:
          #   httpGet:
          #     path: /healthz
          #     port: http
          #   initialDelaySeconds: 10
          #   periodSeconds: 10
          # liveness:
          #   httpGet:
          #     path: /healthz
          #     port: http
          #   initialDelaySeconds: 10
          #   periodSeconds: 10
          # readiness:
          #   httpGet:
          #     path: /healthz
          #     port: http
          #   initialDelaySeconds: 10
          #   periodSeconds: 10
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 128Mi
service:
  app:
    controller: kite
    ports:
      http:
        port: 8080

persistence:
  config:
    enabled: true
    type: nfs
    server: synology.a113.internal
    path: "/volume1/media/k8s-data/kite"
    globalMounts:
      - path: /config
