kubectl:
  image:
    repository: docker.io/bitnamilegacy/kubectl
cleanUpCRDs: true
schedules:
  full-cluster-backup:
      disabled: false
      labels:
          backup_type: full_cluster
      schedule: "0 0 * * *"
      useOwnerReferencesInBackup: false
      template:
          ttl: "240h"
          storageLocation: default
          includedNamespaces:
          - "*"
configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: "velero-backups"
      prefix: "cloudstack"
      config:
        region: "garage"
        s3Url: "https://s3.omv.a113.casa"
        s3ForcePathStyle: "true"
  volumeSnapshotLocation:
    - provider: aws
      config:
        region: "garage"
credentials:
    useSecret: true
    existingSecret: velero
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.9.0
    volumeMounts:
    - mountPath: /target
      name: plugins
