kubectl:
  image:
    repository: docker.io/bitnamilegacy/kubectl
cleanUpCRDs: true

# Enable Node Agent for File System Backup (required for PVC data backup)
deployNodeAgent: true
nodeAgent:
  podVolumePath: /var/lib/kubelet/pods
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  # DNS config for node-agent to resolve S3 endpoint
  dnsPolicy: "None"
  dnsConfig:
    nameservers:
      - 10.30.0.1

schedules:
  full-cluster-backup:
      disabled: false
      labels:
          backup_type: full_cluster
      schedule: "0 0 * * *"
      useOwnerReferencesInBackup: false
      template:
          ttl: "240h"
          storageLocation: default
          includedNamespaces:
          - "*"
          defaultVolumesToFsBackup: true
dnsPolicy: "None"
dnsConfig:
  nameservers:
    - 10.30.0.1
configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: "velero-backups"
      prefix: "cloudstack"
      config:
        region: "garage"
        s3Url: "https://s3.omv.a113.casa"
        s3ForcePathStyle: "true"
  volumeSnapshotLocation:
    - name: default
      provider: csi
  # Enable CSI snapshot feature
  features: EnableCSI
credentials:
  useSecret: true
  existingSecret: velero
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.9.0
    volumeMounts:
    - mountPath: /target
      name: plugins
